* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Biryani', sans-serif;
}

.nav{
  background-color: #4d0000;
  font-weight: 700;
}

.nav a {
  color: white;
  margin: 0 15px 0 15px;
  font-weight: 400;
}

.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assests/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 43vh;
}

.hero h2 {
  margin-top: 60px;
  font-size: 65px;
}

.hero h3{
  font-size: 30px;
}

.feature{
  background-color: #4D0000;
}

.feature h3{
  font-size: 30px;
}

.bg{
  background-color: #ABABAB;
}

.confirmation{
  background-color: #e1e1e1;
}

#product-btn{
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}

#product-btn:hover {
  background-color: #4d0000;
  border-color: #4d0000;
}

#product-btn:active {
  background-color: #4d0000;
  border-color: #4d0000;
}

#checkout-btn{
  background-color: #BF0600;
  border-color: #BF0600;
}

#checkout-btn:hover {
  background-color: #da0a03;
  border-color: #da0a03;
}

#shopping-btn{
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}

#shopping-btn:hover {
  background-color: #727272;
  border-color: #727272;
}

#payment-btn{
  background-color: #BF0600;
  border-color: #BF0600;
}

#payment-btn:hover {
  background-color: #da0a03;
  border-color: #da0a03;
}

@media only screen and (max-width: 546px){
  .hero h2 {
    font-size: 50px;
  }

  .hero h3{
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px){
  .image{
    width: 250px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
  }
}